* {
  margin: 0px;
  font-family: "Lato", sans-serif;
}

/* header section  styles*/
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 200px 0px;
  background: #e554731a;
}

.header-title {
  color: 0.272727;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.header-description {
  color: 0.27272799;
  font-size: 15px;
  font-weight: 50;
  margin: 13px 0px;
}

.btn {
  background: #e55473;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}

.header-photo {
  height: 500px;
  display: block;
}

/* our feature section style */
.our-features-title {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  line-height: normal;
  margin-top: 100px;
}
.our-features-para {
  color: #27272799;
  font-weight: 350;
  height: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 0px;
}
.our-features-item {
  padding: 0px 15px;
}
.our-features-packs {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.flower-div1 {
  border-radius: 300px 300px 0px 0px;
  background: #a7216226;
  height: 380px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.flower-div2 {
  border-radius: 300px 300px 0px 0px;
  background: #0597a026;
  height: 380px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flower-div3 {
  border-radius: 300px 300px 0px 0px;
  background: #477d1126;
  height: 380px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.our-features-flower {
  height: 300px;
  width: 200px;
}
#flower2 {
  height: 250px;
  width: 250px;
}

.flower-name {
  text-align: center;
  text-decoration: underline;
  color: #272727;
  padding-top: 20px;
  font-weight: 700;
}
/* hot deal style */
.hot-deal {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: #e554730d;
  align-items: center;
}
#off {
  color: #e55473;
}
.hot-deal-content{
  text-align: center;

}
.hot-deal-title {
  color: #272727;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}
.hot-deal-details {
  color: #27272799;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 500px;
}
.hot-deal-img {
  width: 200px;
  padding: 50px 0px 50px 150px;
}

/* instagram section */
.insta{

}
.insta-text{

}
.insta-photos{

}
.insta-pic{
  
}
