/* for all section*/
* {
  margin: 0px;
  font-family: "Lato", sans-serif;
}
.title {
  color: #272727;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}
.description {
  color: #27272799;
  font-size: 13px;
  font-weight: 40;
  margin: 13px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
}
.btn {
  background: #e55473;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}




/* header section  styles*/
header {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 150px 0px;
  background: #e554731a;
  align-items: center;
}
.htitle{
  color: #272727;
  font-size: 50px;
  font-weight: 10000;
}
.hdescription{
  color: #27272799;
  font-size: 13px;
  font-weight: 40;
  margin: 15px 0px;
  margin-left: auto;
  margin-right: auto;
}
.header-photo {
  height: 500px;
  display: block;
}



/* our feature section style */
.our-features-item {
  padding: 0px 15px;
}
.our-features-heading{
  padding-top: 150px;
}
.our-features-packs {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.flower-div1 {
  border-radius: 300px 300px 0px 0px;
  background: #a7216226;
  height: 380px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.flower-div2 {
  border-radius: 300px 300px 0px 0px;
  background: #0597a026;
  height: 380px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flower-div3 {
  border-radius: 300px 300px 0px 0px;
  background: #477d1126;
  height: 380px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.our-features-flower {
  height: 300px;
  width: 200px;
}
#flower2 {
  height: 250px;
  width: 250px;
}

.flower-name {
  text-align: center;
  text-decoration: underline;
  color: #272727;
  padding-top: 20px;
  font-weight: 700;
}



/* hot deal style */
.hot-deal {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: #e554730d;
  align-items: center;
}
#off {
  color: #e55473;
}
.hot-deal-content {
  text-align: center;
}
.hot-deal-img {
  width: 200px;
  padding: 50px 0px 50px 150px;
}



/* instagram section */
.insta-text {
  text-align: center;
  padding: 75px 0px 10px;
}
.insta-photos {
  display: flex;
  justify-content: center;
}
.insta-pic {
  width: 250px;
  height: 300;
  padding: 15px;
}
